.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    overflow-y: scroll;
}

.cardContainer{
    height: fit-content;
}

.category{
    cursor: pointer;
    width: fit-content;
}

::-webkit-scrollbar{
    display: none;
}