.container{
    background-color: rgb(219, 217, 217);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4rem;
    letter-spacing: 1px;
}

.inputContainer{
    width: 40%;
    height: 35px;
    margin-top: 20px;
}

.headingContainer{
    width: 100%;
    height: fit-content;
    margin: 20px 0 10px 0;
}

.heading{
    font-size: 28px;
    font-weight: 500;
}

.body{
    display: flex;
    height: 83vh;
    width: 100%;
    padding-top: 5px;
}

.sidebar{
    flex: 2;
    height: 100%;
}

.cardContainer{
    flex: 7;
    /* border: 1px solid red; */
    height: 100%;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 767px) {
    .container{
        padding: 0 1rem;
    }
    .sidebar{
        flex: 2;
    }
    .cardContainer{
        flex: 4;
    }
}

