.container{
    height: 12rem;
    width: 8rem;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

.imgContainer{
    height: 10rem;
    width: 8rem;
    border: 1px solid red;
}

.nameContainer{
    height: 2rem;
    font-size: 14px;
    padding: 8px 0;
}